// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-header {
    font-size: 2em;
}

.card-body {
    text-align: justify;

    .created {
        text-align: right;
        color: #AAAAAA;
        font-size: 0.75em;
    }
}
